@model TaskViewModelAdd
@{
    ViewData["Title"] = "Add Task";
}

<div class="container d-flex justify-content-center">
    <div class="w-50">
        <h1>Add Task</h1>

        <form method="post" action="/Task/Add" class="form">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="form-label-add-edit">Name</label>
                            <input type="text" id="Name" name="Name" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Description" class="form-label-add-edit">Description</label>
                            <input type="text" id="Description" name="Description" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Deadline" class="form-label-add-edit">Deadline</label>
                            <input type="text" id="Deadline" name="Deadline" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group mt-1 d-flex justify-content-center">
                            <input type="submit" value="Add Task" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
