@using Vmp.Web.ViewModels.CostCenterViewModels
@model CostCenterViewModelAdd
@{
    ViewData["Title"] = "Edit Cost Center";
}

<div class="container">
    <h1 class="text-center">Edit Cost Center</h1>

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form asp-action="Edit" method="post">
                <div class="form-group mt-2">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mt-2 bg-success">Edit</button>
            </form>
        </div>
    </div>
</div>
