@using static Vmp.Common.GlobalApplicationConstants;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Vmp.Web.styles.css" asp-append-version="true" />
    <link type="image/png" sizes="16x16" rel="icon" href="/icons8-business-and-finance-16.png">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            background-color: rgba(0, 128, 0, 0.2);
        }

        nav {
            margin: 0;
            border: 1px, solid, double;
            background-color: rgba(0, 128, 0, 0.3);
        }
    </style>

</head>
<body>
    <header class="container-fluid m-0">
        <partial name="_NotificationsPartial" />
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Vehicle Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><strong>Home</strong></a>
                        </li>

                        @if (this.User.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <strong>Tasks</strong>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Task" asp-action="All">All Tasks</a></li>
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Task" asp-action="MIne">My Tasks</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Task" asp-action="Add">Add Task</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <strong>Owners</strong>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Owner" asp-action="All">All Owners</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Owner" asp-action="Add">Add Owner</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <strong>Cost Centers</strong>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="CostCenter" asp-action="All">All Cost Centers</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="CostCenter" asp-action="Add">Add New Cost Center</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <strong>Vehicles</strong>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Vehicle" asp-action="All">All Vehicles</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Vehicle" asp-action="Add">Add New Vehicle</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <strong>Checks</strong>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        @*  <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="User" asp-action="All">All My Checks</a></li>*@
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="MileageCheck" asp-action="All">All MileageChecks</a></li>
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="DateCheck" asp-action="All">All DateChecks</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="MileageCheck" asp-action="Add">Add New Mileage Check</a></li>
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="DateCheck" asp-action="Add">Add New Date Check</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <strong>Waybills</strong>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Waybill" asp-action="AllPeriod">All Waybills</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Waybill" asp-action="Index">Add New Waybill</a></li>
                                    </ul>
                                </div>
                            </li>
                            @if (User.IsInRole(AdminRoleName))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-primary" asp-area="Admin" asp-controller="Admin" asp-action="Index"><strong>Admin panel</strong></a>
                                </li>
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Vehicle Manager @ReleaseYear
            @if (DateTime.UtcNow.Year != ReleaseYear)
            {
                @Html.Raw($" - {DateTime.UtcNow.Year}")
            }
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
