@using Vmp.Web.ViewModels.OwnerViewModels;
@model ICollection<OwnerViewModelAll>
@{
    ViewData["Title"] = "All Owners";
    int rowCount = 0;
}

<div class="container-fluid">
    <h1>All Owners</h1>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Row Number</th>
                        <th>Owner ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var owner in Model)
                    {
                        rowCount++;
                        <tr>
                            <td>
                                @rowCount
                            </td>
                            <td>
                                @owner.Id
                            </td>
                            <td>
                                @owner.Name
                            </td>
                            <td class="text-center bg-info">
                                <a class="text-dark align-content-center" asp-area="" asp-controller="Owner" asp-action="ViewOwnerInfo" asp-route-Id="@owner.Id">View</a>
                            </td>
                            <td class="text-center bg-danger">
                                <form asp-area="" asp-controller="Owner" asp-action="Delete" method="post">
                                    <input type="hidden" name="Id" value="@owner.Id" />
                                    <button type="submit" class="btn btn-link text-dark align-content-center">Complete Task</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
