@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin page";
}

<style>
    .custom-table {
        border-collapse: collapse;
    }

        .custom-table td {
            border: 1px solid black;
        }

    .table-container {
        display: flex;
        justify-content: center;
    }
</style>

<h4 class="text-center">@ViewData["Title"]</h4>

<div class="container d-flex justify-content-center">
    <div class="table-responsive table-container">
        <table class="table table-striped table-bordered custom-table table-hover">
            <tbody>
                <tr>
                    <td class="col-12 text-center">
                        <form asp-area="Admin" asp-controller="Admin" asp-action="AllTasks" method="get">
                            <div class="form-group mt-2 justify-content-md-around text-center">
                                <button type="submit" class="btn">Restore Task</button>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="col-12 text-center">
                        <form asp-area="Admin" asp-controller="Admin" asp-action="AllOwners" method="get">
                            <div class="form-group mt-2 justify-content-md-around text-center">
                                <button type="submit" class="btn">Restore Owner</button>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="col-12 text-center">
                        <form asp-area="Admin" asp-controller="Admin" asp-action="AllVehicles" method="get">
                            <div class="form-group mt-2 justify-content-md-around text-center">
                                <button type="submit" class="btn">Restore Vehicle</button>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="col-12 text-center">
                        <form asp-area="Admin" asp-controller="Admin" asp-action="AllCostCenters" method="get">
                            <div class="form-group mt-2 justify-content-md-around text-center">
                                <button type="submit" class="btn">Restore Cost Center</button>
                            </div>
                        </form>                    
                    </td>
                </tr>
                <tr>
                    <td class="col-12 text-center">
                        <form asp-area="Admin" asp-controller="Admin" asp-action="AllMileageChecks" method="get">
                            <div class="form-group mt-2 justify-content-md-around text-center">
                                <button type="submit" class="btn">Restore Mileage Check</button>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="col-12 text-center">
                        <form asp-area="Admin" asp-controller="Admin" asp-action="AllDateChecks" method="get">
                            <div class="form-group mt-2 justify-content-md-around text-center">
                                <button type="submit" class="btn">Restore Date Check</button>
                            </div>
                        </form>                    
                    </td>
                </tr>
                <tr>
                    <td class="col-12 text-center">
                        <form asp-area="Admin" asp-controller="Admin" asp-action="AllUsers" method="get">
                            <div class="form-group mt-2 justify-content-md-around text-center">
                                <button type="submit" class="btn">Users Control panel</button>
                            </div>
                        </form>                   
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
