@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configure authenticator app";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<<h4 class="text-center align-content-center justify-content-center text-danger text-uppercase">Not Available</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
