@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="text-center align-content-center justify-content-center text-danger text-uppercase">Not Available</h4>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
