@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = "Recovery codes";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<h4 class="text-center align-content-center justify-content-center text-danger text-uppercase">Not Available</h4>

